{% extends "accounts/master/base.html" %}

{% block title %}
Yarn Type
{% endblock title %}

{% block css %}
{% endblock css %}

{% block page_title %}
Yarn Type List
{% endblock page_title %}

{% block page_body %}

<div class="card">
    <div class="card-header">
        <form method="GET">
            <div class="row">
            
                <div class="col mb-2">
                    <input type="text" name="yarn_type" class="form-control form-control-lg" placeholder="Filter by Yarn Type" value="{{ request.GET.yarn_type }}">
                </div>

                <div class="col mb-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{% url 'yarn_type_list' %}" class="btn btn-success mx-2">Clear Filters</a>
                </div>
            </div>
        </form>

    </div>
    

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bunited table-md">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Yarn Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in yarn_type %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ type.yarn_type }}</td>

                            <td>
                                <a href="{% url "yarn_type_detail" type.id %}" class="btn btn-info btn-sm d-inline-block">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="{% url "yarn_type_update" type.id %}" class="btn btn-primary btn-sm d-inline-block">
                                    <i class="fas fa-pen"></i>
                                </a>
                            
                                <form method="post" action="{% url 'yarn_type_delete' type.id %}" class="d-inline-block" id="deleteForm{{ type.id }}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ type.id }});">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                                
                            </td> 
                            
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No Yarn Type found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      
        
        {% include "accounts/master/pagination.html" %}

        <div class="text-center">
            <a href="{% url 'yarn_type_create' %}" class="btn btn-info btn-lg align-items-center">
                <i class="fas fa-plus-circle fs-3 me-2"></i> 
            </a>
        </div>
    </div>


{% endblock page_body %}

{% block js %}


{% endblock js %}
