{% extends "accounts/master/base.html" %}

{% block title %}
Singup
{% endblock title %}

{% block css %}
{% endblock css %}


{% block page_title %}
User Create
{% endblock page_title %}


{% block page_body %}


    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-6">
                <label for="username">User Name</label>
                {{ form.username }}
            </div>
            <div class="form-group col-6">
                <label for="user_type">User Type</label>
                {{ form.user_type }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="password1" class="d-block">Password</label>
                {{ form.password1 }}
                <div id="pwindicator" class="pwindicator">
                    <div class="bar"></div>
                    <div class="label"></div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="password2" class="d-block">Password Confirmation</label>
                {{ form.password2 }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                Register
            </button>
        </div>
    </form>
  </div>
{% endblock page_body %}

{% block js %}

{% endblock js %}


