{% extends "accounts/master/base.html" %}

{% block title %}
    Django
{% endblock title %}

{% block css %}
    <!-- Additional CSS if needed -->
{% endblock css %}

{% block page_title %}
    Add Yarn
{% endblock page_title %}

{% block page_body %}

<table class="table table-bordered">
    <thead>
        <tr class="bg-primary text-white">
            <th class='text-white'>Style </th>
            <th class='text-white'>Color</th>
            <th class='text-white'>Fabric Design</th>
            <th class='text-white'>GSM</th>
            <th class='text-white'>Finish DIA</th>
            <th class='text-white'>Machine DIA</th>
            <th class='text-white'>Machine Type</th>
            <th class='text-white'>Order Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item.style }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.fabric_design }}</td>
            <td>{{ item.gsm }}</td>
            <td>{{ item.finish_dia }}</td>
            <td>{{ item.machine_dia }}</td>
            <td>{{ item.machine_type }}</td>
            <td>{{ item.order_item_qty }}</td>

        </tr>
    </tbody>
</table>


<h4 class='mt-4'>Order Yarn Information</h4>

<div class="card">

    <div class="card-body">
            <form method="post" action="">
                {% csrf_token %}

                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="yarn-information-table" width="100%">
                        <thead>
                            <tr class="bg-primary">
                                <th style="color:white">Yarn Count</th>
                                <th style="color:white">Yarn Type</th>
                                <th style="color:white">Yarn Brand</th>
                                <th style="color:white">Yarn Lot</th>
                                <th style="color:white">SL</th>
                                <th style="color:white">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>
                                    <div class="form-group fixed-input-width">
                                        <input type="text" name='yarn_count' id='yarn_count' class="form-control text-center mt-2" value="" required placeholder="Yarn Count">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group fixed-input-width">
                                        <input name="yarn_type" id='yarn_type' type="text" class="form-control text-center mt-2" placeholder="Yarn Type">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group fixed-input-width">
                                        <input name="yarn_brand" id='yarn_brand' type="text" class="form-control text-center mt-2" placeholder="Yarn Brand">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group fixed-input-width">
                                        <input name="yarn_lot" id='yarn_lot' type="text" class="form-control text-center mt-2" placeholder="Yarn Lot">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group fixed-input-width">
                                        <input name="sl" type="text" id='sl' class="form-control text-center mt-2" placeholder="SL">
                                    </div>
                                </td>
                
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mx-2">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                

                <div class="form-group fixed-input-width col-md-12 mt-3 pl-4 text-center">
                    <button type="button" class="btn btn-sm bg-primary mb-2 float-right save-yarn text-white">
                        <i class="fas fa-save" style="font-size: 1.5em;"></i>
                        <span class="mx-2" style="font-size: 1.5em;">Save</span> 
                    </button>
                </div>
                
            </form>
    </div>
</div>

{% endblock page_body %}

{% block js %}

{% endblock js %}
